.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    

}
.cart-container {
height: 500px;
margin-left: 20px;
border: 2px solid yellowgreen;
border-radius: 10px;
text-align: center;
}
.btn-select{
    background-color: aquamarine;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.btn-remove{
    background-color:red;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

@media only screen and (max-width:688px){
    .products-container{
        grid-template-columns: repeat(1,1fr);
    }
    
    .shop-container{
        grid-template-columns: repeat(1,1fr);
    }
    
}