.product img {
    width: 300px;
    height: 300px;
}
.product{
    width: 300px;
    height: 400px;
    border: 2px solid yellowgreen;
    border-radius: 4px;
}
.btn-cart button:hover{
    background-color: orange;

}